body {
  font-family: Arial;
  background-color:black;
}

img{
  margin:5rem;
}
.box {
  background-color: #218D9B;
  height: 100px;
  width: 100px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}


.container {
  padding: 2rem;
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.perfume-description {
  display: none;
}

.perfume-description.active {
  display: block;
}

.perfume-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: none;
}

.perfume-image.active {
  display: block;
}

.perfume-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 25px;
}

.image-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.perfume-container:hover {
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

.perfume-container.active .perfume-title {
  display: block;
}

.filter {
  padding: 2rem;
  cursor: pointer;
}

