body {
  font-family: Arial;
}


.container {
  margin-top:-350px;
  margin-left:800px;
  padding: 2rem;
  white-space: nowrap
}

.animationbox{
  margin-top:150px;
  margin-left:50px;
  background-color: lightgrey;
  height:500px;
  width:500px;
}

h1 {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;
}

.perfume-description {
  display: none;
  display: inline-block
}

.perfume-description.active {
  display: block;
  display: inline-block
}

.perfume-image {
  width: 20px;
  height: 20px;
  height: auto;
  display: none;
  display: inline-block
}

.perfume-image.active {
  display: block;

}

.perfume-container {
  margin-right:450px;
  width: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 1rem;
  display: inline-block
}

.image-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: inline-block

}
.perfume-container:hover {
  background-color:lightgrey;
  cursor: pointer;
  display: inline-block

}

.perfume-container.active .perfume-title {
  display: block;
  display: inline-block
  
}

.filter {
  padding: 2rem;
  cursor: pointer;
}
